body{
    background-color: rgba(240, 228, 228, 0.253);
}

.EventTasksChild_container{
  display:inline-block;
}

.EventTasksChild_container img{
  width: 91%;
}

.row_container{
  border-radius:10px; 
  padding: 13px; 
  background-color: rgb(255, 255, 255); 
  
}

.row_1{
  width: 479px;
  margin: 13px;
}

.row_container button{
  position: relative; 
  top:20px;
  left: 32%;
  width: 72%;
  height: 23%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgba(99, 92, 92, 0.856);  
  }