body{
    background-color: rgba(240, 228, 228, 0.253);
}

.EventTasksChild_container{
  display: flex;
}

.EventTasksChild_container img{
  width: 100%;
}

.row_container{
  border-radius:10px; 
  padding: 3px; 
  background-color: rgb(255, 255, 255); 
}

.row_1{
    margin-right: 9px;
}

.row_2{
    margin-left: 9px;
}

.row_container button{
  position: relative;  
  margin-top: 50px;
  left: 50%;
  width: 60%;
  height: 20%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: rgba(99, 92, 92, 0.856);
}