.login_container{
    display: grid;
    justify-content: center;
}
 
/* .logoItem{
    margin-left: 30%; 
  margin-top: 5%; 
} */


.login{
    margin:80px;;
    border: 1px solid rgb(196, 218, 233);
    padding: 20px;
    width: 500px;
    height: 400px;
    background-color: whitesmoke;
}

.login_info {
    margin: 20% 0% 20% 0%;
    padding-left: 34px;
}

 .login_info h4 {
     text-align: center;
     margin-bottom: 10px;
     margin: 0% 11% 3% 0%;
 }

.login button{
    width: 90%;
    height:40px;
    border-radius:20px;
    border: 1px solid  rgba(196, 218, 233, 0.918);
    outline: none !important;
}

.googleIcon{
    width:23px;
    float: left;
}